* {
  padding: none;
  margin: none;
  color: black;
}

body {
  font-family: Arial, sans-serif;
  background-color: #007bff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 350px;
  border-radius: 30px 0;
}

h2 {
  text-align: center;
  color: #0056b3;
}

.name {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #0056b3;
}

input[type="text"],
input[type="number"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #007bff;
  border-radius: 4px;
  box-sizing: border-box; /* Ensures padding doesn't affect width */
}

button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

#message-area {
  margin-top: 20px;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  display: none; /* Hidden by default */
}
